<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Tailor Made</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Models Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='55.0/css/bootstrap.css')}}">
	<!-- Bootstrap-Core-CSS -->
	<link href="{{ url_for('static', filename='55.0/css/css_slider.css')}}" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link rel="stylesheet" href="{{ url_for('static', filename='55.0/css/style.css')}}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{{ url_for('static', filename='55.0/css/font-awesome.min.css')}}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Srisakdi:400,700&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
	  <!-- Nav Bar Start -->
	  <div class="nav">
		<div class="container-fluid">
		   
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
				<a href="#" class="navbar-brand">MENU</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
					<div class="navbar-nav mr-auto">
						<a href="index.html" class="nav-item nav-link active">Home</a>
						<a href="product-list.html" class="nav-item nav-link">Products</a>
						<a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
						<a href="cart.html" class="nav-item nav-link">Cart</a>
						<a href="checkout.html" class="nav-item nav-link">Checkout</a>
						<a href="my-account.html" class="nav-item nav-link">My Account</a>
						<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
							<div class="dropdown-menu">
								<a href="wishlist.html" class="dropdown-item">Wishlist</a>
								<a href="login.html" class="dropdown-item">Login & Register</a>
								<a href="contact.html" class="dropdown-item">Contact Us</a>
							</div>
						</div>
					</div>
					<div class="navbar-nav ml-auto">
						<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item">Login</a>
								<a href="#" class="dropdown-item">Register</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- Nav Bar End -->      
	
	<!-- Bottom Bar Start -->
	<div class="bottom-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-3">
					<div class="logo">
						<a href="index.html">
							<img src="{{ url_for('static', filename='55.0/images/logo.png')}}" alt="Logo">
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="search">
						<input type="text" placeholder="Search">
						<button><i class="fa fa-search"></i></button>
					</div>
				</div>
				<div class="col-md-3">
					<div class="user">
						<a href="wishlist.html" class="btn wishlist">
							<i class="fa fa-heart"></i>
							<span>(0)</span>
						</a>
						<a href="cart.html" class="btn cart">
							<i class="fa fa-shopping-cart"></i>
							<span>(0)</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bottom Bar End -->     
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" id="slides_1" />
				<input type="radio" name="slides" checked="checked" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<ul class="banner_slide_bg">
					<li>
						<div class="container">
							<div class="w3ls_banner_txt">
								
								<h3 class="w3ls_pvt-title">Find something that suits you best</h3>
								
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="w3ls_banner_txt">
								
								<h3 class="w3ls_pvt-title">Find something that suits you best</h3>
								
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="w3ls_banner_txt">
								
								<h3 class="w3ls_pvt-title">Find something that suits you best</h3>
								
							</div>
						</div>
					</li>
				</ul>
				<div class="navigation">
					<div>
						<label for="slides_1"></label>
						<label for="slides_2"></label>
						<label for="slides_3"></label>
					</div>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->

	<!-- banner bottom -->
	<div class="w3ls-welcome pt-5" id="about">
		<div class="container pt-sm-3">
			<div class="row">
				<div class="col-lg-6 welcome-left py-xl-5 py-lg-3">
					<h3>Welcome Timeless Fashion</h3>
					<h4 class="mb-sm-5 mb-4 mt-3 font-italic">Together we’ll make this world <br>more beautiful.
					</h4>
					<div class="row support-bottom">
						<div class="col-6 support-grid">
							<div class="icon-effect">
								<span class="fa fa-spinner" aria-hidden="true"></span>
							</div>
							<h5 class="mt-4 mb-3">Custom Made</h5>
							<p>Find peices made for you only</p>
						</div>
						<div class="col-6 support-grid">
							<div class="icon-effect grid-w3ls-2">
								<span class="fa fa-star-o" aria-hidden="true"></span>
							</div>
							<h5 class="mt-4 mb-3">Stylish</h5>
							<p>Wear the stylish trends around and look amazing</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 welcome-right p-lg-0 mt-3 text-lg-right text-center">
					<img src="{{ url_for('static', filename='55.0/images/img.jpeg')}}" alt=" " class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->

	<!-- services -->
	<div class="serives-agile py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<div class="row support-bottom text-center">
				<div class="col-md-4 services-w3ls-grid">
					<i class="fa fa-eye" aria-hidden="true"></i>
					<h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">Secure Payment</h4>
					<p>
						
						Pay hassel free using online secure payment methods</p>
				</div>
				<div class="col-md-4 services-w3ls-grid my-md-0 my-4">
					<i class="fa fa-gift" aria-hidden="true"></i>
					<h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">90 Days Return</h4>
					<p>
						Don't fine it good enough? No issues return easily</p>
				</div>
				<div class="col-md-4 services-w3ls-grid">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<h4 class="text-white text-uppercase mt-md-5 mt-4 mb-3">24/7 Support</h4>
					<p>
						Always at you service, just ping us for the query</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->

	<!-- blog -->
	<div class="blog-w3ls py-5" id="blog">
		<div class="container py-xl-5 py-lg-3">
			<div class="title text-center mb-5">
				<h3 class="mb-2">Trending Now</h3>
				<p>Find the latest trends at your doorstep</p>
			</div>
			<div class="row package-grids">
				<div class="col-lg-4 posts-agiles">
					<div class="posts-top">
						<a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
							<img src="{{ url_for('static', filename='55.0/images/blog1.jpeg')}}" alt="" class="img-fluid" />
						</a>
						
					</div>
					<div class="posts-w3ls-bottom py-4">
						<h4 class="mb-2">Royal Formal Collection</h4>
					
						<p class="mt-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation.</p>
					</div>
				</div>
				<div class="col-lg-4 posts-agiles my-lg-0 my-4">
					<div class="posts-top">
						<a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
							<img src="{{ url_for('static', filename='55.0/images/blog2.jpeg')}}" alt="" class="img-fluid" />
						</a>
						
					</div>
					<div class="posts-w3ls-bottom py-4">
						<h4 class="mb-2">Denim Tshirt </h4>
					
						<p class="mt-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation.</p>
					</div>
				</div>
				<div class="col-lg-4 posts-agiles">
					<div class="posts-top">
						<a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
							<img src="{{ url_for('static', filename='55.0/images/blog3.jpeg')}}" alt="" class="img-fluid" />
						</a>
						
					</div>
					<div class="posts-w3ls-bottom py-4">
						<h4 class="mb-2">Travel Wound</h4>
						
						<p class="mt-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //blog -->

	<!-- middle section -->
	<!-- <section class="w3ls-bnrbtm py-5" id="middle">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-xl-5 col-lg-7">
					<span class="w3-line text-uppercase">Fashion Look</span>
					<h3 class="agile-title mt-2 mb-3">Creating Your Beauty Image</h3>
					<p class="text-botm">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at</p>
				</div>
			</div>
		</div>
	</section> -->
	<!-- //middle section -->

	<!-- gallery -->
	<div class="gallery py-5" id="gallery">
		<div class="container py-xl-5 py-lg-3">
			<div class="title text-center mb-5">
				<h3 class="mb-2">Our Gallery</h3>
				<p>Ut enim ad minim veniam, quis nostrud ullam.</p>
			</div>
			<div class="news-grids gal text-center">
				<div class="d-md-flex">
					<div class="col-md-4 gal-img">
						<a href="#gal1"><img src="{{ url_for('static', filename='55.0/images/g1.jpg')}}" alt="news image" class="img-fluid"></a>
						Denim Jacket
							
					</div>
					<div class="col-md-4 gal-img my-md-0 my-3">
						<a href="#gal2"><img src="{{ url_for('static', filename='55.0/images/g2.jpg')}}" alt="news image" class="img-fluid">
						</a>
						Suit
					</div>
					<div class="col-md-4 gal-img">
						<a href="#gal3"><img src="{{ url_for('static', filename='55.0/images/g3.jpg')}}" alt="news image" class="img-fluid"></a>
						Coat
					</div>
				</div>
				<div class="d-md-flex mt-4">
					<div class="col-md-4 gal-img">
						<a href="#gal4"><img src="{{ url_for('static', filename='55.0/images/g4.jpg')}}" alt="news image" class="img-fluid"></a>
						Shoes
					</div>
					<div class="col-md-4 gal-img my-md-0 my-3">
						<a href="#gal5"><img src="{{ url_for('static', filename='55.0/images/g5.jpg')}}" alt="news image" class="img-fluid"></a>
						Formal
					</div>
					<div class="col-md-4 gal-img">
						<a href="#gal6"><img src="{{ url_for('static', filename='55.0/images/g6.jpg')}}" alt="news image" class="img-fluid"></a>
						Chique
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- gallery popups -->
	<!-- popup-->
	<div id="gal1" class="popup-effect">
		<div class="popup">
			<img src="{{ url_for('static', filename='55.0/images/g1.jpg')}}" alt="Popup Image" class="img-fluid" />
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal2" class="popup-effect">
		<div class="popup">
			<img src="{{ url_for('static', filename='55.0/images/g2.jpg')}}" alt="Popup Image" class="img-fluid" />
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal3" class="popup-effect">
		<div class="popup">
			<img src="{{ url_for('static', filename='55.0/images/g3.jpg')}}" alt="Popup Image" class="img-fluid" />
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal4" class="popup-effect">
		<div class="popup">
			<img src="{{ url_for('static', filename='55.0/images/g4.jpg')}}" alt="Popup Image" class="img-fluid" />
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal5" class="popup-effect">
		<div class="popup">
			<img src="{{ url_for('static', filename='55.0/images/g5.jpg')}}" alt="Popup Image" class="img-fluid" />
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- popup-->
	<div id="gal6" class="popup-effect">
		<div class="popup">
			<img src="{{ url_for('static', filename='55.0/images/g6.jpg')}}" alt="Popup Image" class="img-fluid" />
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //popup -->
	<!-- //gallery popups -->
	<!-- //gallery -->

	<!-- newsletter -->
	<div class="newsletter_right_w3agile py-5" id="newsletter">
		<div class="container py-xl-5 py-lg-3">
			<div class="title news-titl text-center mb-5">
				<h3 class="mb-2">Our Newsletter</h3>
				<p>Ut enim ad minim veniam, quis nostrud ullam.</p>
			</div>
			<div class="n-right-w3ls">
				<form action="#" method="post">
					<div class="row">
						<div class="col-md-4 form-group">
							<input class="form-control" type="text" name="Name" placeholder="Name" required="">
						</div>
						<div class="col-md-4 form-group">
							<input class="form-control" type="email" name="Email" placeholder=" Email Address" required="">
						</div>
						<div class="col-md-4 form-group">
							<input class="form-control submit text-uppercase" type="submit" value="Subscribe">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- //newsletter -->

	<!-- contact -->
	
	<!-- //contact -->

	<!-- footer -->
	<footer class="footer-emp-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row footer-top">
				<div class="col-lg-3 col-sm-6 footer-grid-wthree">
					<h3 class="footer-title text-uppercase text-white mb-lg-5 mb-4">Who We Are</h3>
					<div class="contact-info">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
							aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-sm-0 mt-5">
					<h3 class="footer-title text-uppercase text-white mb-lg-5 mb-4">Latest News</h3>
					<div class="contact-info">
						<div class="footer-style-w3ls">
							<h4 class="text-light mb-2">Sed ut piciatis unde</h4>
							<p>30 Sep 2018</p>
						</div>
						<div class="footer-style-w3ls my-4">
							<h4 class="text-light mb-2">Modi tempra incunt</h4>
							<p>02 Aug 2018</p>
						</div>
						<div class="footer-style-w3ls">
							<h4 class="text-light mb-2">ullam corpis sucipit</h4>
							<p>06 Aug 2018</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-5">
					<h3 class="footer-title text-uppercase text-white mb-lg-5 mb-4">Contact Us</h3>
					<div class="contact-info">
						<div class="footer-style-w3ls">
							<h4 class="text-light mb-2">Phone</h4>
							<p>+121 098 8907 9987</p>
						</div>
						<div class="footer-style-w3ls my-4">
							<h4 class="text-light mb-2">Email </h4>
							<p><a href="mailto:info@example.com">info@example.com</a></p>
						</div>
						<div class="footer-style-w3ls">
							<h4 class="text-light mb-2">Location</h4>
							<p>Honey Avenue, New York City</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-5">
					<h2 class="footer-title text-white mb-lg-5 mb-4">Quick Links</h2>
					<ul class="links list-unstyled">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="#about">About Us</a>
						</li>
						<li>
							<a href="#blog">Blog</a>
						</li>
						<li>
							<a href="#gallery">Gallery</a>
						</li>
						<li>
							<a href="#contact" class="m-0">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy-right-top text-center border-top mt-5">
			<a href="#home" class="move-top text-center mt-3"></a>
			<p class="copy-right text-center">&copy; 2018 Models. All Rights Reserved | Design by
				<a href="http://w3layouts.com/"> W3layouts </a>
			</p>
		</div>
	</footer>
	<!-- //footer -->


</body>

</html>