<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="webthemez">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tailor Made</title>
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/flexslider.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/jquery.fancybox.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/main.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/responsive.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/font-icon.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='-1.0/css/animate.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='-1.0/css/style4.css')}}" />
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner" id="home">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html"><img src="{{ url_for('static', filename='-1.0/images/logo.png')}}" alt=""></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		 <li><a href="#home">Home</a></li>
		  <li><a href="#intro">designes</a></li>
          <li><a href="#services">Features</a></li>
          <li><a href="#content-3-10">About</a></li> 
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#teams">Friends</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text --> 
 
<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container"> 
                    <div class="col-md-9 text-left">
                        <h3 data-animation="animated bounceInDown">Fashion Trends</h3>
                        <h4 data-animation="animated bounceInUp">Get our latest 2020 Collection </h4>             
                     </div>
                </div></div>
             </div> 
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Winter Collection</h3>
                        <h4 data-animation="animated bounceInUp">Don't Let The Cold Get To You</h4>
                     </div> 
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Summer Collection</h3>
                        <h4 data-animation="animated bounceInUp">Outshine The Sun</h4>
                     </div>  
                </div></div>
            </div>     
        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>
  
</section>
<!-- header section --> 
<!-- intro section -->
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h3>Welcome To Fab</h3>
      <p>Find Fashion For All. Make Everyone Beautiful.</p>
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- section -->
<section id="Bride_Groom">
  <div class="container"> 
  
    <div class="row">  
	<div class="section-header">
                <h2 class="wow fadeInDown animated">Design Trends</h2>
                <p class="wow fadeInDown animated">We don't only find fashion but  <br> We also Accept Your Choices.</p>
            </div>
            <div id="content24" data-section="content-24" class="data-section"> 
    		<div class="col-md-4">
				
				<img src="{{ url_for('static', filename='-1.0/images/img1.jpg')}}" alt="bride" class="img-middle"/>
				<div class="align-center">
				<h4>Women's Fashion</h4>
				<p>Women Fashion Online Store - Buy latest women fashion clothing, accessories, makeup & footwear Online at Myntra. Shop from the huge range of women's.</p> 
				<a href="details.html" class="morebtn">More</a>
				</div>
			</div>
				<div class="col-md-4">  
				<img src="{{ url_for('static', filename='-1.0/images/img2.jpg')}}" alt="bride" class="img-middle"/>
				<div class="align-center">
				<h4>Men's Fashion</h4>
				<p>Mens' Fashion: Shop for Mens' Clothing & accessories online at best prices in India. Choose from a wide range of Men' Clothing. </p> 
				<a href="details.html" class="morebtn">More</a>
				</div>
			</div> 
			<div class="col-md-4">  
				<img src="{{ url_for('static', filename='-1.0/images/img3.jpg')}}" alt="bride" class="img-middle"/>
				<div class="align-center">
				<h4>Kids's Fashion</h4>
				<p>Mens' Fashion: Shop for Mens' Clothing & accessories online at best prices in India. Choose from a wide range of Men' Clothing.</p> 
				<a href="details.html" class="morebtn">More</a>
				</div>
			</div> 
    	</div>
		</div>    
  </div>
</section>
<!-- section --> 
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
  <div class="section-header">
                <h2 class="wow fadeInDown animated">Features</h2>
                <p class="wow fadeInDown animated">Featured Fashion is an independent fashion magazine showcasing creativists from the fashion industry.<br> The magazine & our instagram channel reflects the way.</p>
            </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-heart"></span>
        <div class="services-content">
          <h5>Money Back</h5>
          <p>A money back plan provides the full sum assured on maturity. This is irrespective of the survival benefits and the amount paid under the same.</p> 
	   </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-gift"></span>
        <div class="services-content">
          <h5>Gift Coupon</h5>
          <p>A gift of choice. Celebrate every occasion with your loved ones in a special way.</p> 
	   </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-phone"></span>
        <div class="services-content">
          <h5>Free Shipping</h5>
          <p>Free shipping is a marketing tactic used primarily by online vendors and mail-order catalogs as a sales strategy to attract customers.</p> 
		</div>
      </div> 
    </div>
  </div>
</section>
<!-- services section --> 
<!--About-->
<section id="content-3-10" class="content-block data-section nopad content-3-10">
	<div class="image-container col-sm-6 col-xs-12 pull-left">
		<div class="background-image-holder">

		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
				<div>
					<h3>About Us</h3>
				</div>
				<div>
					<p>Strongly believes that technology is in its adolescence phase right now and we all soon will be witnessing some big changes in almost every field of Technology and aspect of life. So I wish to learn as much as possible to let myself be the part of the revolution when it finally happens.</p>
					<p>Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
				<a href="#gallery" class="btn btn-outline btn-outline outline-dark">Gallery</a>
			</div>
		</div><!-- /.row-->
	</div><!-- /.container -->
</section>


<!-- videos section -->
<section class="video-section">
  <div class="container">
    <div class="row">  
            <div id="content24" data-section="content-24" class="data-section"> 
    		<div class="col-md-6">
				<h3>Videos</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
   				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
    		</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/146742515?badge=0" allowfullscreen=""></iframe>
				</div>
			</div> 
    	</div>
			</div><!-- end row -->    
  </div>
</section>
<!-- videos section --> 

<!-- gallery section -->
<section id="gallery" class="gallery section">
  <div class="container-fluid">
    <div class="section-header">
                <h2 class="wow fadeInDown animated">Gallery</h2>
                <p class="wow fadeInDown animated">Strongly believes that technology is in its adolescence phase right now and we all soon will be witnessing some big changes in almost every field of Technology and aspect of life. So I wish to learn as much as possible to let myself be the part of the revolution when it finally happens.</p>
            </div>
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/01.jpg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/01.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/02.jpg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/02.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/03.jpg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/03.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/04.jpg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/04.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption"> 
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/05.jpg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/05.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/06.jpg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/06.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/07.jpeg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/07.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{{ url_for('static', filename='-1.0/images/portfolio/08.jpeg')}}" class="work-box"> <img src="{{ url_for('static', filename='-1.0/images/portfolio/08.jpg')}}" alt="">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
    </div>
  </div>
</section>
<!-- gallery section --> 
<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Team</h2>
                <p class="wow fadeInDown animated">According to the team approach to leadership, a team is a type of organizational group of people that are members. A team is composed of members who are dependent on each other, work towards interchangeable achievements, and share common attainments. A team works as a whole together to achieve certain things.</p>
            </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="person"><img src="{{ url_for('static', filename='-1.0/images/team-1.jpg')}}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Leigh Thompson</h4> 
            <p>A team is a group of individuals working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="{{ url_for('static', filename='-1.0/images/team-2.jpg')}}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Markus Linn</h4> 
            <p>A team is a group of individuals working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management.</p>
          </div> 
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="{{ url_for('static', filename='-1.0/images/team-3.jpg')}}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Chris Jemes</h4> 
            <p>A team is a group of individuals working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management.</p>
          </div> 
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="{{ url_for('static', filename='-1.0/images/team-4.jpg')}}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Vintes Mars</h4> 
            <p>A team is a group of individuals working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management.</p>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our team section --> 
<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"The world as we have created it is a process of our thinking."</p>
                <p>Chris Mentsl</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"The world as we have created it is a process of our thinking."</p>
                <p>Kristean velnly</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"The world as we have created it is a process of our thinking." </p>
                <p>Markus Denny</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"The world as we have created it is a process of our thinking." </p>
                <p>John Doe</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section --> 

<!-- contact section -->
<section id="contact" class="section">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Mail Us</h2>
                <p class="wow fadeInDown animated">The United States Postal Service is an independent agency of the executive branch of the United States federal government responsible for<br> providing postal service in the United States, including its insular areas and associated states.</p>
            </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">       
        <div id="message"></div>
        <form method="post" action="php/contact.php" name="cform" id="cform">
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
          <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message..."></textarea>
          <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section --> 
<!-- Footer section -->
<div class="footer">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Get in Touch</h2>
                  <div class="contact-info">
                      <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                      <p><i class="fa fa-envelope"></i>email@example.com</p>
                      <p><i class="fa fa-phone"></i>+123-456-7890</p>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Follow Us</h2>
                  <div class="contact-info">
                      <div class="social">
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                          <a href=""><i class="fab fa-youtube"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Company Info</h2>
                  <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Purchase Info</h2>
                  <ul>
                      <li><a href="#">Payment Policy</a></li>
                      <li><a href="#">Shipping Policy</a></li>
                      <li><a href="#">Return Policy</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer section --> 
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')}}"></script> 
<script src="{{ url_for('static', filename='-1.0/js/bootstrap.min.js')}}"></script> 
<script src="{{ url_for('static', filename='-1.0/js/jquery.flexslider-min.js')}}"></script> 
<script src="{{ url_for('static', filename='-1.0/js/jquery.fancybox.pack.js')}}"></script> 
<script src="{{ url_for('static', filename='-1.0/js/retina.min.js')}}"></script> 
<script src="{{ url_for('static', filename='-1.0/js/modernizr.js')}}"></script> 
<script src="{{ url_for('static', filename='-1.0/js/main.js')}}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='-1.0/js/jquery.contact.js')}}"></script> 
</body>
</html>